<nav class="nav">
  <% prev_article = article.previous_article %>
  <% if prev_article %>
    <a class="nav__item nav__item--arrow nav__item--prev" href="<%= prev_article.url %>" rel="prev" title="<%= prev_article.title %>">←</a>
  <% end %>

  <a class="nav__item nav__item--more" href="#">More</a>

  <% next_article = article.next_article %>
  <% if next_article %>
    <a class="nav__item nav__item--arrow nav__item--next" href="<%= next_article.url %>" rel="next" title="<%= next_article.title %>">→</a>
  <% end %>
</nav>

<% blog.articles.each do |article| %>
  <%= link_to article.title, article.url %>
<% end %>
